*{
    box-sizing: border-box;
}

html{
    font-family: 'Roboto';
}

@font-face {
    font-family: 'Roboto';
    src:local('Roboto');
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src:local('Roboto');
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher Bold';
    src:local('Philosopher');
    src: url('../fonts/Philosopher-Bold.eot');
    src: url('../fonts/Philosopher-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Philosopher-Bold.woff') format('woff'),
    url('../fonts/Philosopher-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher Regular';
    src:local('Philosopher');
    src: url('../fonts/Philosopher.eot');
    src: url('../fonts/Philosopher.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Philosopher.woff') format('woff'),
    url('../fonts/Philosopher.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #FFE2B0;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

nav{
    margin: 0 auto;
    margin-bottom: 20px;
}

a{
    color: black;
    font-size: 18px;
    text-decoration: none;
}

ul{
    text-align: center;
    list-style-type: none;
    padding: 0px;
    font-family: 'Roboto Bold';
}

li{
    display: inline;
    margin: 100px;
}

li:last-child{
    margin-right: 0px;
}

.section_recipe{
    margin: 0 auto;
    text-align: center;
}
.section_recipe__title{
    font-size: 50px;
    margin: 0;
    text-align: center;
    font-family: 'Philosopher Regular';
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 3px solid #DEB887;
}

.section_advice__text{
    font-size: 50px;
    margin: 0;
    text-align: center;
    font-family: 'Philosopher Regular';
}

.current{
    color: #C39049;
}

.line{
    border-top: 1px solid #999999;
    margin: 0 auto;
    width: 1024px;
    margin-bottom: 20px;
}
footer {
    height: 80px;
}
