*{
    box-sizing: border-box;
}

html{
    font-family: 'Roboto';
}

@font-face {
    font-family: 'Roboto';
    src:local('Roboto');
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src:local('Roboto');
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher Bold';
    src:local('Philosopher');
    src: url('../fonts/Philosopher-Bold.eot');
    src: url('../fonts/Philosopher-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Philosopher-Bold.woff') format('woff'),
    url('../fonts/Philosopher-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher Regular';
    src:local('Philosopher');
    src: url('../fonts/Philosopher.eot');
    src: url('../fonts/Philosopher.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Philosopher.woff') format('woff'),
    url('../fonts/Philosopher.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #FFE2B0;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

.float-left{
    float: left;
}

nav{
    margin: 0 auto;
    margin-bottom: 20px;
}

a{
    color: black;
    font-size: 18px;
    text-decoration: none;
}

ul{
    text-align: center;
    list-style-type: none;
    padding: 0px;
    font-family: 'Roboto Bold';
}

li{
    display: inline;
    margin: 100px;
}

li:last-child{
    margin-right: 0px;
}

.current{
    color: #C39049;
}

.section_advice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section_advice-border{
    border: 1px solid black;
    margin: 0 auto;
    padding: 17px 0 20px 28px;
    text-align: left;

}
.clock{
    color:#7e5a25; 
    font-size:14pt;
    font-family: 'Philosopher Regular';
    border:2px solid #e1d4ae;
    border-radius: 10px;
    background:#d7ad7e;
    width: 100px;
    height: 60px;
    margin: 0 auto;
    padding-top: 17px;
}


.advice-1{
    text-align: center;
    width: 430px;
    height: 250px;
    background-color: rgb(252, 197, 109);
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;

}

.advice-2{
    text-align: center;
    width: 430px;
    height: 250px;
    background-color: rgb(252, 197, 109);
    border-radius: 10px;
    padding-left: 10px;
    overflow: hidden;
    padding-top: 10px;

}
.advice-3{
    text-align: center;
    background-color: rgb(252, 197, 109);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 250px;
    width: 430px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 50px;
}

.section_advice__text{
    font-size: 30px;
    margin: 0;
    text-align: center;
    font-family: 'Philosopher Regular';
}

.section_advice__subtext-3{
    overflow-y:scroll;
    height: 200px;
}


.line{
    border-top: 1px solid #999999;
    margin: 0 auto;
    width: 1024px;
    margin-bottom: 20px;
}
footer {
    height: 80px;
}